.nav{
    background-color: rgb(255, 255, 255);
    text-decoration: none;
}
.spacer{
    flex-direction: 1 1 auto;
}

.logo{
    font-weight: bold;
    font-size: 20px;
}
a{
    text-decoration: none;
    text-align: center;
    font-size: large;
    color: rgb(94, 90, 98);
}
button, a{
    pointer-events: auto !important;
    z-index: 1000;
}